body{
    margin: 0;
}
.container{
border:2px solid black;
display: inline-flex;
flex-direction: row-reverse ; 
}
.flex-item{
    color:white;
    font-size:1.5rem;
    padding:1rem;
    text-align: center; 

}
.item1{
    background-color: yellow;
}
.item2{
    background-color:red;
}
.item3{
    background-color:blue;
}
.item4{
    background-color:blueviolet;
}
.item5{
    background-color:burlywood;
}
.item6{
    background-color:brown;
}
.item7{
    background-color: rgb(0, 255, 123);
}
.item8{
    background-color: rgb(255, 0, 191);
}
.item9{
    background-color: rgb(0, 183, 255);
}
.item10{
    background-color: rgb(255, 145, 0);
}